.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 94vh;
    justify-content: center;
}

.container h2{
    margin: 50px 0 50px 0;
}

.logo{
    position: absolute;
    width: 7%;
    height: auto;
    margin-left: 30px;
    margin-top: 30px;
}

@media only screen and (max-device-width: 480px) {
    .logo{
        margin-left: 50%;
        transform: translateX(-50%);
        width: 20%;
    }
}