.container{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    height: 6vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container button{
    background-color: transparent;
    border: none;
    margin-right: 40px;
    font-size: 20px;
}

.container button:hover{
    text-decoration: underline;
}

.mobileContainer{
    display: none;
    transition: all 0.5s ease-in-out;
}


@media only screen and (max-device-width: 480px) {
    .container button {
        display: none;
    }
    .container {
        background-color: #1e1e1e;
    }
    .mobileContainer.open{
        display: flex;
        position: absolute;
        height: 94vh;
        background-color: #1e1e1e;
        transition: all 0.5s ease-in-out;
        flex-direction: column;
        width: 100%;
        z-index: 10;
        justify-content: center;
        align-items: center;
    }
    .mobileContainer.open button{
        background-color: transparent;
        color: white;
        border: none;
        font-size: 40px;
        margin-bottom: 50px;
    }
}