.container{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    height: 6vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container button{
    background-color: transparent;
    border: none;
    margin-right: 40px;
    font-size: 20px;
}

.container button:hover{
    text-decoration: underline;
}