.container{
    background-color: rgba(255, 255, 255, 0.5);
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    height: 30vh;
    border-radius: 10px;
}

.iconWrapper{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    overflow: hidden;
}

.icon{
    width: 40%;
    transition: 0.2s linear;
}

.icon:hover{
    width: 60%;
    transition: 0.2s linear;
}

@media only screen and (max-device-width: 480px) {
    .container{
        width: 90%;
        height: auto;
        justify-content: space-evenly;
    }
    .iconWrapper{
        width: 30%;
        height: 10vh;
    }
}